.main {
    margin: 0 auto;
    width: 70%;
    height: 100rem;
}
.nav-main {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}
.icone {
    padding: 1.2rem 5rem;
    display: flex;
    justify-content: space;
}
.bi {
    border-radius: 50%;
    padding: 0 3px;
    color: #9E9D9E;
    font-size: 25px;
    
}
.bi:hover {
    color: white;
}