/* INIZIO ALBUM2 */

.hero-al {
  height: 700px;
  padding: 0 0 20px 20px;

  background: rgb(56, 128, 187);
  background: linear-gradient(
    180deg,
    rgb(29, 106, 168) 13%,
    rgba(18, 18, 18, 0.2) 100%
  );

  display: flex;
  align-items: center;
}
.img-hero-al {
  width: 300px;
  border-radius: 5px;
  box-shadow: 0px 0px 30px 20px rgba(0,0,0,0.1);
}
.album-content-al {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 15px;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
}

.album-content-al span{
  padding-left: 7px;
}

.content-hero-al{
  display: flex;
}

.title-album-al {
  font-size: 100px;
  font-weight: 700;
}
.pt-album {
  padding-top: 10px;
  display: flex;
  align-items: center;
}
.dettagli-hero-al {
  display: flex;
}
.dettagli-hero-al img {
  width: 30px;

  border-radius: 50%;

  margin-right: 10px;

  margin-left: 5px;
}

.dettagli-hero-al p{
  font-size: 20px;
  font-weight: 600;
}

.dettagli-hero-al span{
  font-weight: 400;
}

.player-hero-al {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.serie-icone-al {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 40px;
  margin: 25px 0 25px 0;
  color: #A7A7A7;
}
.elenco-al {
  display: flex;
  gap: 10px;
  font-size: 22px;
  color: #A7A7A7;
}

.play-grande-al{
  font-size: 90px;
  background-color: black;
  border-radius: 50px;
  color: #1ED760;
  margin-right: 10px;
}

.colore-icon-al{
  color: #A7A7A7;
}

.icon-list {
  display: flex;
  align-items: center;
}

.caption-lista-al {
  background-color: #121212;
  display: flex;
  position: sticky;
  top: 92px;
  z-index: 1000;
  border-bottom: solid 0.5px #a7a7a756;
  color: #A7A7A7;
  padding-bottom: 15px;
  font-size: 20px;
}

ol {
  list-style-type: decimal;
}

.numerazione-al {
  padding-left: 10px;

}
.titolazione-al {
  padding-left: 10px;
  width: 49.8%;
}
.riproduzioni-al {
  width: 18.4%;
  display: flex;
  justify-content: end;
}
.caption-lista-al div {
  width: 23.5%;
  display: flex;
  align-items: center;

  display: flex;
  justify-content: end;
}

.container-lista-canzoni-al {
  padding-left: 25px;
  color: #A7A7A7;
  margin-bottom: 30px;
}
.canzone-lista-al {
  display: flex;
  align-items: center;
  padding-top: 30px;
  font-size: 25px;
}
.song-artist-al {
  padding-left: 2px;
  width: 40%;

  display: flex;
  flex-direction: column;
}
.no-margin {
  margin: 0;
}

.white-al{
  color: white;
  padding-bottom: 5px;
}

.to-right {
  display: flex;
  justify-content: end;
  
}
.riproduzioni-lista-al {
  width: 30%;
}
.durata-al {
  width: 24%;
}

/* FINE ALBUM2 */
