/* INIZIO ARTIST2 */

.hero-ar {
    height: 250px;

    background-image: url(../assets/imgs/tenacious-d.jpg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: end;
}

.player-hero-ar {
    display: flex;
    gap: 20px;
}

.container-lista-canzoni-ar {
    padding-left: 25px;
}
.canzone-lista-ar {
    display: flex;
    align-items: center;
}
.titolo-song-ar {
    padding-left: 10px;
    width: 40%;
}
.to-right {
    display: flex;
    justify-content: end;
}
.riproduzioni-ar {
    width: 30%;
}
.durata-ar {
    width: 24%;
}

/* FINE ARTIST2 */