@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.navbar-login{
    background-color: #000;
    padding: 30px 0 30px 51px ;
}

#navbar-logo{
    width: 120px;
}

.box-container-login{
    background: linear-gradient(rgba(40, 40, 40, 1) 0%, rgb(0, 0, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.box-container-login .main-login{
    margin: 32px 0;
    padding: 32px;
    width: 734px;
    height: 910px;
    background: #121212;
    border-radius: 5px;
}

.h2-login{
    text-align: center;
    margin: 48px 0;
    color: white;
    font-size: 48px;
    font-weight: bolder;
}

.box-container-login .main-login .account-connect-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.a-c-btn-login{
    display: flex;
    justify-content: flex-start;
    width: 324px;
    text-align: center;
    padding: 15px 20px;
    border: none;
    outline: none;
    margin: 5px 0;
    border-radius: 50px;
    color: #f2f2f2;
    background: transparent;
    border: 1px solid #878787; 
    font-size: 15px;
    font-weight: bold;
    opacity: 0.7;
}

.a-c-btn-login:hover{
    opacity: 1;
}

.a-c-btn-login .icon-login{
    width: 25px;
    margin: 0 10px;
}

.hr-login{
    margin: 32px 100px;
    border-right: none ;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    border-top: 1px solid #878787;
}

.log-in{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form-login{
    position: relative;
}

.log-in .form-login .label-login{
    color: #f2f2f2;
    font-size: 16px;
    margin-bottom: 8px;
    display: inline-block;
}

.log-in .form-login .input-login{
    display: block;
    padding: 14px;
    width: 320px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    background: #121212;
    outline: none;
    border: none;
    appearance: none;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #878787;
    color: #fff;
    opacity: 0.7;
}

.icon-password{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 73%;
    color: #f2f2f2;
}


.log-in .form-login .input-login:hover{
    opacity: 1;
}